<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyi.snack.mapper.AdminMapper">

    <select id="selectByPhone" resultType="com.leyi.snack.entity.Admin">
        SELECT * FROM admin WHERE phone = #{phone}
    </select>

</mapper>
