<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyi.snack.mapper.CategoryMapper">

    <select id="findAll" resultType="com.leyi.snack.entity.Category">
        SELECT * FROM category ORDER BY sort ASC, created_at DESC
    </select>

    <insert id="save" parameterType="com.leyi.snack.entity.Category" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO category (parent_id, name, sort)
        VALUES (#{parentId}, #{name}, #{sort})
    </insert>

    <update id="update" parameterType="com.leyi.snack.entity.Category">
        UPDATE category
        SET name = #{name},
            sort = #{sort}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM category WHERE id = #{id}
    </delete>

</mapper>
