<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyi.snack.mapper.VerifyLogMapper">

    <insert id="save" parameterType="com.leyi.snack.entity.VerifyLog">
        INSERT INTO verify_log (order_id, admin_id, verify_time, action, remark)
        VALUES (#{orderId}, #{adminId}, NOW(), #{action}, #{remark})
    </insert>

</mapper>
